name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint (Pickier)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Use cached node_modules
        uses: actions/cache@v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Lint
        run: bun run lint

      - name: Format Check
        run: bun run format:check

  typecheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Use cached node_modules
        uses: actions/cache@v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Typecheck
        run: bun --bun run typecheck

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Use cached node_modules
        uses: actions/cache@v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Unit Test
        run: bun test

      - name: Component Tests with Coverage
        working-directory: ./packages/components
        run: bun test --coverage

      - name: Integration Tests
        working-directory: ./packages/components
        run: bun test test/integration/

  publish-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Use cached node_modules
        uses: actions/cache@v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish Commit
        run: bunx pkg-pr-new publish './packages/stx' './packages/bun-plugin' './packages/components'
